@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #eff3f4;
    font-size: 1.5rem;
    
}

em{
font-style: normal;}

main{
  padding: 5rem;
  color: #203C49;

}

/* Nav */
nav{
  background-color: black;
  }
  
  nav a{
    color: white;
  }
  
  nav.navbar button.navbar-toggler span{
    text-indent: -100000px;
    background-image: url(../img/menu-icon.png);
  }
  
  .navbar-brand img{
    min-width: 3rem;
    min-height: 3rem;
  }
  
  #menu ul li a{
    color: white;
    text-align: center;
  }

  #menu ul li a.disabled{
    color: grey;
    text-align: center;
  }

  ul.dropdown-menu{
    background-color: #203C49;
    border-radius: 0px;

  }
  .dropdown-menu li{
    background-color:#203C49;
  }

/* Carrousel */

h1{
  color: white;
  font-size: 4rem !important;
}

.carousel h2 {
    font-size: 3rem;
    color:white;
    padding-top: 3rem;
    align-items: center;
}
.first { 
    width: 37%;
    margin-block: 25%;
}

.first a{
    text-decoration: none;
    color: white;
    background-color:#203C49;
    width: 10rem;
    text-align: center;
    padding-block: .5rem;
    border-radius: 1rem;
    margin-block: 2rem;
}

.first a:hover{
  background-color:#2e444e;
  color: white !important;
}

.first a:visited{
color: white;
text-decoration: none;
}

.second {
    background-color: rgba(0, 0, 0, 0.685);
    margin-bottom: 5rem;
}

.third{
    background-color: rgba(0, 0, 0, 0.685);
    margin-bottom: 5rem;
    padding-inline: 2rem;
}

/* Marca */
#marca{
  width: 90%;
  margin: auto;
  border-bottom: 2rem;
  color: #203C49;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 5rem;
}

#marca h2{
  margin: 0px;
  width: 100%;
  border-bottom: #203c4988 .2rem solid;
  color: #203C49;
  font-weight: 700;
  padding: 1rem;
}

#marca div{
padding: 3rem;
}

/* Productos */
#productos {
  padding: 0 0 5rem 0;
  text-align: center;
  width: 100%;
}

#productos h2{
  margin: 0px;
  width: 100%;
  border-bottom: #203c4988 .2rem solid;
  color: #203C49;
  font-weight: 700;
  padding: 1rem;
  margin-bottom: 2rem;
}

#productos .card-body p:first-of-type{
  color: grey;
  margin: .2rem;
}

#productos .card-body p:nth-of-type(2){
  color: grey;
}

#productos .card-body p:nth-of-type(3){
  color:#1075a3;
  font-weight: 700;
  font-size: 1.2rem;
}

#productos .card-body button{
  background-color: #203C49;
  border-radius: 1rem;
  font-weight: 500;
  padding-inline: 3rem;
  border: none;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  color: white !important;
}

#productos .card-body button:hover{
  background-color: rgb(45, 126, 163);
}

.box {
  border-top: .5rem solid #203C49;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #f6fafb;
  display: inline-block; 
  width: 100%;
}

.containerCards{
  width: 80%;
  margin: auto;
}

/* Comparador*/
#informacion h2{
  font-weight: 700;
  margin-bottom: 2rem;
  border-bottom: #203C49 .5px solid;
  padding-bottom: 1rem;
  width: 100%;

}

#informacion button{
  background-color: #1075a3;
  margin-inline: 2rem;
  border-radius: 1rem;
  color: white;
  padding:1rem;
}

#informacion button:hover{
  background-color: #4689a8;
}

#informacion .row div.card .card-body{
width: 100%;}

#iphone1 .card.card-body, #iphone2 .card.card-body{
  background-color: #0b72a12f;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

#iphone1 .card, #iphone2 .card {
  border-radius: 1rem;
  padding: 2rem;
}

#iphone1 .card img, #iphone2 .card img{
  padding: 2rem;
}



/* Formulario */
#contact{
  margin: auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 5rem;    
  border-radius: 1rem;
  text-align: left;
  width: 90%;
  padding: 2rem;
  background-image: url(../img/iphone-banner2.jpg);
  background-repeat: repeat;
  background-position: center;
  background-color:#122630d3;
  background-blend-mode: darken;
}

#contact h2{
  text-align: center;
  margin: 2rem;
  color: white;
}

#contact input[type="text"], #contact input[type="tel"],#contact input[type="text"] {
  padding: 1.5rem;
  border-radius: .5rem;
  border: 1px solid #ccc;
  margin-bottom: .5rem;
  border-radius: 1rem;
  height: 2rem !important;
  color: #122630;
}

#contact textarea{
  border-radius: .5rem;
  border: 1px solid #ccc;
  margin-bottom: .5rem;
  border-radius: 1rem;
  color: #122630;
}

form, label, input{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  color: white;
}
label{
  font-weight: 600;
}

form button{
  background-color:#1075a3 !important;
  width: 10rem;
  border-radius: 1rem !important;
  font-weight: 700 !important;
  color: white !important;
}

form button:hover{
  background-color:#488baa !important;
}

label{
  font-size: 1em;   
}
#contact input[type="text-area"]{
  padding: 1.5rem;
  border-radius: .5rem;
  border: 1px solid #ccc;
  margin-bottom: .5rem;
  border-radius: 1rem;
  height: 6rem !important;
  color: #122630;
}

#contact input[type="checkbox"]{
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

#contact input[type="checkbox"]:checked{
  background-color:#1075a3 ;
}

.campo{
  display: flex;
  text-align:center;
  margin: 0;
  padding: 0;  } 
  
footer {
  background-color:#365361;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.creator {
  text-align: center;
  margin-bottom: 20px;
}

.creator img {
  width: 8rem;
  margin-bottom: 1rem;
  border-radius: 20rem;
}

.social {
  display: flex;
  justify-content: center;
}



@media screen and (min-width: 320px) and (max-width: 768px) {
 
  body{
    min-width: 320px;
  }
  
  /* Nav */
  /* Carrousel */
  #carousel{
    margin-bottom: 1rem;
  }
  /* Quiénes somos */
  #marca div p:nth-child(2){
    display: none;
  }

  /* Comparador */

  #informacion p{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #informacion {
    margin: 1rem;
  }

  #informacion .card img{
    display: none;
  }

  #informacion .card{
    width: 100%;
  }

  #informacion .card.card-body{
    padding: .2rem;
  }

  #informacion .card .card-body h3 span{
    color: #1075a3;
  }

  

  /* Form */
  #contact{
    background-repeat: repeat;
    background-color:#122630 !important;
    background-blend-mode: darken;
    margin: auto !important;
    width: 100%;
    margin-block: 2rem !important;

  }

  #contact h2{
    font-size: 1.5rem;
    width: 100%;
    padding-inline: 0;
    margin: 0;
    margin-bottom: 1rem;
  }

  #contact form{
    padding: .2rem;
  }

  #contact input[type="text"] {
    height: 3rem !important;
    width: 100%;
  }
  
  .creator {
    margin-bottom: 10px;
  }
  main{
    padding: 10px;
  }

  #contact input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
  }
  
  
form, label, input{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
label{
    font-size: 1em;   
}
.campo{
    display: flex;
    text-align:center;
    margin: 0;
    padding: 0;  } 
    

  footer {
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .creator {
    margin-bottom: 10px;
  }
  main{
  padding: 55px;
}
#productos {
    padding: 0 0 50px 0;
    text-align: center;
}

h2 {
    font-size: 40px;
    color: #111419;
    padding-top: 50px;
    align-items: center;
}

.box {
  border-top: .2rem solid #203C49;
  padding: 1.2rem;
  border-radius: 1rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #f6fafb;
  display: inline-block; 
  width: 100%;
}

#contact{
  background-repeat: repeat;
  background-color:#122630 !important;
  background-blend-mode: darken;
  margin: 0px !important;
  width: 100%;
}

#contact h2{
  font-size: 2rem;
  width: 90%;
  padding-inline: 0;
  margin: auto;
  margin-bottom: 1rem;
}

#contact form{
  padding: .2rem;
}

#contact input[type="text"] {
  height: 3rem !important;
}

  footer {
    flex-direction: column;
    text-align: center;
  }
   
    #contact input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
  }
  

  
form, label, input{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
label{
    font-size: 1em;   
}

.campo{
    display: flex;
    text-align:center;
    margin: 0;
    padding: 0;  } 

    #contact{
      background-color: #eff3f4;
      border-radius: 15px;
      text-align: center;
      margin: 25px;
      padding: 25px;
  }
}

.modal-header{
  background-color: #203C49;
  color: #eff3f4;
}
.modal-body figure{
  width: 90%;
  border-bottom: 1px grey solid;
  margin: auto;
  padding-bottom: 1rem;
  margin-block: 1rem;
}


@media screen and (min-width: 769px) and (max-width: 1024px) {
 
  /* Carrousel */
.first{
  margin-bottom: 2rem;
}
  footer {
    flex-direction: column;
    text-align: center;
  }
/* Productos */
  .box figure{
    margin: auto;
    overflow: hidden;
  }

  .box figure img{
    height: 100%;
  }

  .card{
    width: 70%;
    margin: auto;
  }

  /* Comparador */
  #informacion p{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #informacion {
    margin: 1rem;
  }

  #informacion .card img{
    display: block;
  }

  #informacion .card{
    width: 100%;
  }

  #informacion .card.card-body{
    padding: .2rem;
  }

  #informacion .card .card-body h3 span{
    color: #1075a3;
  }

  .creator {
    margin-bottom: 10px;
  }
}